infra/step-function-definition.json
{
  "Comment": "Real-time e-commerce KPI pipeline using ECS Fargate",
  "StartAt": "ValidateData",
  "States": {
    "ValidateData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "ecommerce-cluster",
        "TaskDefinition": "ecommerce-validation-task",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-07a70f3144a0abc48",
              "subnet-038fc83541c144d8d"
            ],
            "SecurityGroups": [
              "sg-0fe52a7f3a1a327cf"
            ],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "validation",
              "Environment": [
                {
                  "Name": "S3_BUCKET",
                  "Value.$": "$.bucket"
                },
                {
                  "Name": "PRODUCTS_KEY",
                  "Value.$": "$.products_key"
                },
                {
                  "Name": "ORDERS_KEYS",
                  "Value.$": "States.JsonToString($.orders_keys)"
                },
                {
                  "Name": "ORDER_ITEMS_KEYS",
                  "Value.$": "States.JsonToString($.order_items_keys)"
                }
              ]
            }
          ]
        }
      },
      "InputPath": "$",
      "ResultPath": "$.validation",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "States.Timeout"
          ],
          "IntervalSeconds": 3,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "PublishValidationFailureNotification",
          "ResultPath": "$.error"
        }
      ],
      "TimeoutSeconds": 120,
      "Next": "CheckValidationResult"
    },
    "CheckValidationResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.validation.Containers[0].ExitCode",
          "NumericEquals": 0,
          "Next": "TransformData"
        }
      ],
      "Default": "PublishValidationFailureNotification"
    },
    "PublishValidationFailureNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:eu-west-1:605134436600:ecommerce-pipeline-alerts",
        "Message": {
          "Input.$": "$",
          "ErrorDetails.$": "$.error"
        },
        "Subject": "E-commerce Pipeline Alert: Validation Failed"
      },
      "Next": "ValidationFailed"
    },
    "TransformData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "ecommerce-cluster",
        "TaskDefinition": "ecommerce-transformation-task",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-07a70f3144a0abc48",
              "subnet-038fc83541c144d8d"
            ],
            "SecurityGroups": [
              "sg-0fe52a7f3a1a327cf"
            ],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "transformation",
              "Environment": [
                {
                  "Name": "S3_BUCKET",
                  "Value.$": "$.bucket"
                },
                {
                  "Name": "PRODUCTS_KEY",
                  "Value.$": "$.products_key"
                },
                {
                  "Name": "ORDERS_KEYS",
                  "Value.$": "States.JsonToString($.orders_keys)"
                },
                {
                  "Name": "ORDER_ITEMS_KEYS",
                  "Value.$": "States.JsonToString($.order_items_keys)"
                }
              ]
            }
          ]
        }
      },
      "InputPath": "$",
      "ResultPath": "$.transformation",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "States.Timeout"
          ],
          "IntervalSeconds": 3,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "PublishTransformationFailureNotification",
          "ResultPath": "$.error"
        }
      ],
      "TimeoutSeconds": 300,
      "End": true
    },
    "PublishTransformationFailureNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:eu-west-1:605134436600:ecommerce-pipeline-alerts",
        "Message": {
          "Input.$": "$",
          "ErrorDetails.$": "$.error"
        },
        "Subject": "E-commerce Pipeline Alert: Transformation Failed"
      },
      "Next": "TransformationFailed"
    },
    "ValidationFailed": {
      "Type": "Fail",
      "Error": "ValidationError",
      "Cause": "Data validation task failed."
    },
    "TransformationFailed": {
      "Type": "Fail",
      "Error": "TransformationError",
      "Cause": "Data transformation task failed."
    }
  }
}
